*
{
    box-sizing: border-box;
}
body
{
    margin:0px;
    background-color: rgba(246, 187, 59, 0.49);
}
header
{
    display: grid;
    font-family: 'Patua One', cursive;
    height:90px;
    width:100%;
    text-align:center;
    color:white;
    background-color:#0a76a8c9;
    
    margin:0px;
}
header h1
{
    font-size: 40px;
    text-align: center;
}
nav 
{
    overflow: hidden;
    background-color: #333;
    height:60px;
   
}
nav a 
{
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    font-family: 'Merienda', cursive;
    color: white;
}
#image
{
    width:100%;
    height:500px;
    background:#0a76a8c9;
    color:#fff;
    padding:0 8.5%;
    position:relative;
}
#image .text-box
{
    margin-top: -3.5%;
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 26px;
}
.text-box h1
{
    font-size: 65px;
    line-height: 160px;
}
.user-img
{
    width:480px;
    position:absolute;
    right:0%;
    top:5%;
    bottom:0;
}

main
{
    margin: 35px; 
}

#para h2
{
    font-size:32px;
    font-weight: bolder;
    font-family: 'Patua One', cursive;
    text-align: center;
   
}
#para p
{
    font-size: 20px;
    font-family: 'Labrada', serif;
    font-weight:normal;
    color:rgb(25, 14, 2);
    text-decoration: none;
    word-spacing: 2px;
    line-height: 30px;
}
#img img
{
    height:350px;
    width:400px;
    float:left;
}
#ri
{
    display:flex;
    grid-template-columns: 500px 100px;
}
#content
{
    display: flex;
    grid-auto-columns: auto;
    list-style-type: none;    
}
.dob
{
    margin:10px;
}
.dob h3
{
    text-align: center;
    font-size:27px;
    font-family: 'Patua One', cursive;
    
}
.dob p
{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-weight: lighter;
   text-align: center;
}
.dob .points .left  li
{
    font-size: 20px;
    font-family: 'Labrada', serif;
    text-decoration: none;
    word-spacing: 1.5px;
}
.dob .points .right  li
{
    font-size: 20px;
    font-family: 'Labrada', serif;
    text-decoration: none;
    word-spacing: 1.5px;
}
.dob .points .right,.left
{
    margin:17px;
}
.points 
{
    line-height: 40px;
    display:flex;
    grid-auto-columns: auto;
    grid-gap: 260px;
}
.right a
{
    color:black;
    text-decoration: none;
   
}
.right a:hover
{
    color:blue;
}

#skills h2
{
    font-weight: 10px;
    font-family: 'Patua One', cursive;
    font-size: 32px;
    text-align: center;
}
.head
{
    font-size: larger;
    text-align: center;
}
.skill
{
    display:grid;
    grid-gap: 100px;
}
.sk
{
    height: 65px;
    display: block;
    background: none;
    border-radius: 3;
}
.sp
{
    padding: 10px 0;
    margin: 0 0 5px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #222222;
}
.ri
{
    grid-column-start: 2;
    grid-column-end: 3;
}
.val
{
    float: right;
    font-style: normal;
}
.bar
{
    background: #333;
}
.pg
{
    width: 0.5px;
    height: 10px;
    transition: 0.9s;
    background-color: #b76434;
}
#personal h2
{
    font-weight: 10px;
    font-family: 'Patua One', cursive;
    font-size: 32px;
    text-align: center;
}
#personal .container
{
    
    height:500px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.swiper
{
    width:450px;
    height:450px;
}
.swiper-slide img
{
    width:450px;
    height:450px;
}
.swiper .swiper-button-prev ,.swiper .swiper-button-next
{
    color: white;
}
.swiper .swiper-pagination-bullet-active
{
    background:white;
}

#achievement h2
{
    font-weight: 10px;
    font-family: 'Patua One', cursive;
    font-size: 35px;
    text-align: center;
}
.ac
{
    display:flex;
    gap:17px;
}
.ac .right
{
    font-style: italic;
    font-size: 18px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    word-spacing: 2px;
    margin:17px;
    
}
.ac .left
{
    font-style: italic;
    font-size: 18px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    word-spacing: 2px;
    
}
.ac p:before
{
    content:"* ";
    height:13px;
    width:13px;
    border-radius: 5px;
    color:#41b734;
    border:4px solid #34b7a7;
}

#contact h2
{
    font-weight: 10px;
    font-family: 'Patua One', cursive;
    font-size: 35px;
    text-align: center;
}
#contact .whole
{
    display: flex;
    justify-content: center;
    gap:100px;
}
#contact .whole .l h3
{
    font-family: 'Labrada', serif;
    font-size: 20px;
}
#contact .whole .phone h3
{
    font-family: 'Labrada', serif;
    font-size: 20px;
}

#contact .whole .em h3
{
    font-family: 'Labrada', serif;
    font-size: 20px;
}

#contact .whole .link h3
{
    font-family: 'Labrada', serif;
    font-size: 20px;
}
#contact .whole .link p
{
    font-family: 'Labrada', serif;
    font-size:20px;
}
#contact .whole .l p
{
    font-family: 'Labrada', serif;
    font-size:20px;
}

#contact .whole .phone p
{
    font-family: 'Labrada', serif;
    font-size:20px;
}

#contact .whole .em a
{
    font-family: 'Labrada', serif;
    font-size:20px;
    text-decoration: none;
    color: black;
}

#contact .whole .em a:hover
{
    color:blue;
}

footer 
{

    background-color: #333;
    overflow: hidden;
}

footer .keys a
{
    
    padding: 20px;
    float: left;
    color: white;
}
footer span
{
    float:right;
    text-align: center;
    color: white;
    padding:28px;
}
footer img
{
    height:20px;
    width:20px;
    margin:5px;
}
